# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/api-imagenes/dist
/api-imagenes/tmp
/api-imagenes/out-tsc
/api-imagenes/bazel-out

# Node
/api-imagenes/node_modules
/api-imagenes/npm-debug.log
/api-imagenes/yarn-error.log

# IDEs and editors
/api-imagenes/.idea/
/api-imagenes/.project
/api-imagenes/.classpath/
/api-imagenes/.c9/
/api-imagenes/*.launch/
/api-imagenes/.settings/
/api-imagenes/*.sublime-workspace

# Visual Studio Code
/api-imagenes/.vscode/*
/api-imagenes/!.vscode/settings.json
/api-imagenes/!.vscode/tasks.json
/api-imagenes/!.vscode/launch.json
/api-imagenes/!.vscode/extensions.json
/api-imagenes/.history/*

# Miscellaneous
/api-imagenes/.angular/cache
/api-imagenes/.sass-cache/
/api-imagenes/connect.lock
/api-imagenes/coverage
/api-imagenes/libpeerconnection.log
/api-imagenes/testem.log
/typings

# System files
/api-imagenes/.DS_Store
/api-imagenes/Thumbs.db
/apicrudaravel/node_modules
/apicrudaravel/public/hot
/apicrudaravel/public/storage
/apicrudaravel/storage/*.key
/apicrudaravel/vendor
/apicrudaravel/.env
/apicrudaravel/.env.backup
/apicrudaravel/.phpunit.result.cache
/apicrudaravel/docker-compose.override.yml
/apicrudaravel/Homestead.json
/apicrudaravel/Homestead.yaml
/apicrudaravel/npm-debug.log
/apicrudaravel/yarn-error.log
/apicrudaravel/.idea
/apicrudaravel/.vscode
